body,html{
   height: 50%;
   margin: 20;
   display: block;
   justify-content: center;
   align-items: center;
   background-color: rgb(96, 221, 253);
}

.container{
    display: block;
    width: 100%;
}

#numero{
    height: 50px;
    width: 398px;
    background-color: rgb(23, 104, 243);
    font-size: 2em;
}

#visor{
    text-align: center;
}

#teclado{
    text-align: center;
}

.container button{
    text-align: center;
    height: 50px;
    width: 98px;
    background-color: aqua;
}

.hidden {
    display: none;
}

